.main{
  padding-top: 125px;
  padding-bottom: 20px;
  min-height: calc(100% - 20px);
  background: url('/assets/background.png') 0 100px no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}