header{
  height: 50px;
  background: #ccc;
  box-shadow: #333 0 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;

  .middle-container{
    height: 100%;

    .portrait-container{
      width: 75px;
      height: 75px;
      line-height: 75px;
      text-align: center;
      overflow: hidden;
      border-radius: 200px;
      position: relative;
      float: left;
      transform: translate(0, -12.5px) rotate(0);
      transition: all 0.5s ease-in-out;

      .portrait-content{
        width: 100%;
      }

      .border-mask{
        position: absolute;
        border-radius: 200px;
        top: 0;
        left: 0;
        width: calc(100% + 2px);
        margin: -1px;
        height: calc(100% + 2px);
        transition: all 0.5s ease-in-out;
        box-shadow: #fff 0 0 20px 10px inset;
      }

      &:hover{
        width: 95px;
        height: 95px;
        transform: translate(-10px, -22.5px) rotate(-10deg);

        .border-mask{
          box-shadow: #fff 0 0 15px 0 inset;
        }
      }
    }

    ul{
      height: 100%;
      float: left;

      li{
        height: 100%;
        width: 90px;
        line-height: 50px;
        text-align: center;
        float: left;
        font-size: 22px;
        font-family: cursive, sans-serif;
      }
    }

    .login-button {
      line-height: 50px;
      float: right;
      font-size: 20px;
      font-family: cursive, sans-serif;
    }
  }
}

::ng-deep .login-modal {

  .ant-modal-content {
    
    .ng-trigger-helpMotion {
      font-size: 12px;
    }

    .forget-pwd {
      text-align: right;

      span {
        font-size: 12px;
        cursor: pointer;
      }
    }
  }

  .ant-modal-header {
    padding: 0;

    .modal-btn {
      display: inline-block;
      height: 50px;
      width: 50%;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      background: rgba($color: #1890ff, $alpha: 0.2);
      transition: all .3s cubic-bezier(.645,.045,.355,1);

      &.sign-in-btn {
        border-radius: 4px 0 0 0;
      }

      &.sign-up-btn {
        border-radius: 0 4px 0 0;
      }

      &.active {
        background: #1890ff;
        color: #fff;
      }

      &:hover {
        background: #40a9ff;
        color: #fff;
      }
    }
  }
}