<div class="middle-container">
  <nz-card class="custom-nz-card" nzTitle="文章信息">
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label class="custom-nz-form-label" [nzSm]="3" [nzXs]="24" nzFor="title">标题</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <input nz-input formControlName="title" id="title">
          <nz-form-explain *ngIf="validateForm.get('title').dirty && validateForm.get('title').errors">标题为必填项!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label class="custom-nz-form-label" [nzSm]="3" [nzXs]="24" nzFor="des">简述</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <textarea nz-input [nzAutosize]="{ minRows: 2, maxRows: 6 }" formControlName="des" id="des"></textarea>
          <nz-form-explain *ngIf="validateForm.get('des').dirty && validateForm.get('des').errors">简述为必填项!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label class="custom-nz-form-label" [nzSm]="3" [nzXs]="24" nzFor="classification">分类</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="24">
          <nz-cascader [nzOptions]="classificationOptions" formControlName="classification"></nz-cascader>
          <nz-form-explain *ngIf="validateForm.get('classification').dirty && validateForm.get('classification').errors">分类为必填项!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label class="custom-nz-form-label" [nzSm]="3" [nzXs]="24">列表展示图片</nz-form-label>
        <!-- <div nz-col [nzSm]="17" [nzXs]="24">
          <div ></div>
          <div class="custom-uploader-container" (click)="uploadFile()">
            <div>
              <input #fileUploader (change)="upload($event)" type="file" style="display: none">
              <i class="anticon anticon-plus ng-star-inserted"></i>
              <span>Upload</span>
            </div>
          </div>
        </div> -->
        <nz-upload
          [nzCustomRequest]="customUpload"
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 3"
          [nzPreview]="handlePreview"
          [attr.src]="src">
            <i nz-icon type="plus"></i>
            <div class="ant-upload-text">Upload</div>
        </nz-upload>
      </nz-form-item>
    </form>
  </nz-card>
  <nz-card class="custom-nz-card" nzTitle="正文">
    <!-- <quill-editor [(ngModel)]="editorContent"
    [options]="editorOptions"></quill-editor> -->
    <quill-editor></quill-editor>
  </nz-card>
  <div class="editor-btn-container">
    <button class="editor-btn" nz-button nzSize="middle" nzType="primary" (click)="submit()">保存</button>
    <button class="editor-btn" nz-button nzSize="middle" nzType="primary" (click)="submit()">保存并发布</button>
  </div>
</div>
